In [1]:
import pandas as pd
import acquire

### Database Info

The U.S. Energy Information Administration is committed to enhancing the value of its free and open data by making it available through an Application Programming Interface (API) and open data tools to better serve our customers. The data in the API is also available in bulk file, in Excel via the add-in, in Google Sheets via an add-on, and via widgets that embed interactive data vizualizations of EIA data on any website. By making EIA data available in machine-readable formats, the creativity in the private, the non-profit, and the public sectors can be harnessed to find new ways to innovate and create value-added services powered by public data.



Currently, EIA's API contains the following main data sets:

Hourly electricity operating data, including actual and forecast demand, net generation, and the power flowing between electric systems
408,000 electricity series organized into 29,000 categories
30,000 State Energy Data System series organized into 600 categories
115,052 petroleum series and associated categories
34,790 U.S. crude imports series and associated categories
11,989 natural gas series and associated categories
132,331 coal series and associated categories
3,872 Short-Term Energy Outlook series and associated categories
368,466 Annual Energy Outlook series and associated categories
92,836 International energy series

In [2]:
# call function to view the api keys
data = acquire.epi_category('711238')
data.keys()

dict_keys(['request', 'category'])

In [3]:
# convert to dataframe to view data i would like to view
df_series = pd.DataFrame(data['category']['childseries'])
df_series
# select only the f rows that have 'A'
df_series[df_series['f'] == 'A']

,series_id,name,f,units,updated
0,TOTAL.FFPRBUS.A,"Total Fossil Fuels Production, Annual",A,Trillion Btu,24-MAR-22 03.37.10 PM
2,TOTAL.FFTCBUS.A,"Total Fossil Fuels Consumption, Annual",A,Trillion Btu,24-MAR-22 03.37.10 PM
4,TOTAL.NUETBUS.A,"Nuclear Electric Power Consumption/Production,...",A,Trillion Btu,24-MAR-22 03.37.10 PM
6,TOTAL.REPRBUS.A,"Total Renewable Energy Production, Annual",A,Trillion Btu,24-MAR-22 03.37.10 PM
8,TOTAL.RETCBUS.A,"Total Renewable Energy Consumption, Annual",A,Trillion Btu,24-MAR-22 03.37.10 PM
10,TOTAL.TEAJBUS.A,"Primary Energy Stock Change and Other, Annual",A,Trillion Btu,24-MAR-22 03.37.10 PM
12,TOTAL.TEEXBUS.A,"Total Primary Energy Exports, Annual",A,Trillion Btu,24-MAR-22 03.37.10 PM
14,TOTAL.TEIMBUS.A,"Total Primary Energy Imports, Annual",A,Trillion Btu,24-MAR-22 03.37.10 PM
16,TOTAL.TENIBUS.A,"Total Primary Energy Net Imports, Annual",A,Trillion Btu,24-MAR-22 03.37.10 PM
18,TOTAL.TEPRBUS.A,"Total Primary Energy Production, Annual",A,Trillion Btu,24-MAR-22 03.37.10 PM
20,TOTAL.TETCBUS.A,"Total Primary Energy Consumption, Annual",A,Trillion Btu,24-MAR-22 03.37.10 PM

In [4]:
# create a list of the series_id's and names where the f is A
series_id = []
series_name = []
for i in range(len(df_series)):
    if df_series['f'][i] == 'M':
        series_id.append(df_series['series_id'][i])
        series_name.append(df_series['name'][i])
print(series_id)
print(series_name)

['TOTAL.FFPRBUS.M', 'TOTAL.FFTCBUS.M', 'TOTAL.NUETBUS.M', 'TOTAL.REPRBUS.M', 'TOTAL.RETCBUS.M', 'TOTAL.TEAJBUS.M', 'TOTAL.TEEXBUS.M', 'TOTAL.TEIMBUS.M', 'TOTAL.TENIBUS.M', 'TOTAL.TEPRBUS.M', 'TOTAL.TETCBUS.M']
['Total Fossil Fuels Production, Monthly', 'Total Fossil Fuels Consumption, Monthly', 'Nuclear Electric Power Consumption/Production, Monthly', 'Total Renewable Energy Production, Monthly', 'Total Renewable Energy Consumption, Monthly', 'Primary Energy Stock Change and Other, Monthly', 'Total Primary Energy Exports, Monthly', 'Total Primary Energy Imports, Monthly', 'Total Primary Energy Net Imports, Monthly', 'Total Primary Energy Production, Monthly', 'Total Primary Energy Consumption, Monthly']

In [5]:
# call function to build the working dataframe
df_list = acquire.build_df_list_rename(series_id, series_name)

In [6]:
# convert df_list to a dataframe and join lists on the date
df_list = pd.concat(df_list, axis=1)

In [7]:
df_list.sort_index(inplace=True)
df_list

,"Total Fossil Fuels Production, Monthly","Total Fossil Fuels Consumption, Monthly","Nuclear Electric Power Consumption/Production, Monthly","Total Renewable Energy Production, Monthly","Total Renewable Energy Consumption, Monthly","Primary Energy Stock Change and Other, Monthly","Total Primary Energy Exports, Monthly","Total Primary Energy Imports, Monthly","Total Primary Energy Net Imports, Monthly","Total Primary Energy Production, Monthly","Total Primary Energy Consumption, Monthly"
date,,,,,,,,,,,
197301,4932.632,6747.651,68.103,403.981,403.981,771.858,125.781,1173.080,1047.299,5404.715,7223.873
197302,4729.582,6163.095,64.634,360.900,360.900,390.129,120.883,1168.005,1047.122,5155.115,6592.366
197303,4946.902,6044.647,72.494,400.161,400.161,-67.640,139.950,1309.473,1169.523,5419.556,6521.439
197304,4716.271,5493.184,64.070,380.470,380.470,-110.067,194.185,1085.169,890.984,5160.812,5941.729
197305,4956.995,5613.551,62.111,392.141,392.141,-305.335,196.775,1162.804,966.029,5411.246,6071.940
...,...,...,...,...,...,...,...,...,...,...,...
202108,6627.111,6746.391,725.698,1008.059,1001.833,481.333,2201.484,1844.726,-356.758,8360.867,8485.442
202109,6355.365,6062.810,673.595,970.036,960.758,-188.842,1931.406,1827.781,-103.625,7998.996,7706.530
202110,6722.335,6072.363,594.842,1010.785,1001.577,-267.817,2130.359,1748.724,-381.635,8327.963,7678.511
202111,6626.050,6452.652,655.479,1043.517,1020.650,213.851,2179.236,1773.084,-406.151,8325.047,8132.746
202112,6775.170,6904.840,738.739,1130.858,1106.247,630.227,2375.527,1858.591,-516.936,8644.768,8758.060